<!--footer start-->
<div class="footer-container">
    <div class="footer-main">
        <div class="box-group">
            <div class="box">
                <div class="heading">
                   <h1>Useful link</h1>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>  
                    <li><a href="/about-us">About us</a></li> 
                    <li><a href="#">Products</a></li> 
                    <li><a href="/contact-us">Contact us</a></li> 
                    <li><a href="#">Career</a></li>  
                </ul> 
            </div>
    
            <div class="box">
                <div class="heading">
                    <h1>Solutions</h1>
                </div>
                <ul>
                    <li><a href="/corporate-finance">Energy Management</a></li>  
                    <li><a href="#">Broadband</a></li> 
                    <li><a href="#">Landline</a></li> 
                    <li><a href="#">Home Automation</a></li>  
                </ul> 
            </div> 
    
            <div class="box">
                <div class="heading">
                    <h1>FTTH</h1>
                </div>
                <ul>
                    <li><a href="/ftth">Why FTTH?</a></li>  
                    <li><a href="/ftth">GPON Technology</a></li> 
                    <li><a href="/ftth">FTTX & FTTX Classification</a></li> 
                    <li><a href="/ftth">Network Construction</a></li>  
                </ul> 
            </div>
    
            <div class="box">
                <div class="heading">
                    <h1>Our Products</h1>
                </div>
                <ul>
                    <li><a href="/services">CCTV</a></li>  
                    <li><a href="/services">Access Control</a></li> 
                    <li><a href="/services">Boom Barrier</a></li>  
                </ul> 
            </div> 
    
            <div class="box support-box">
                <div class="heading">
                    <h1>Support</h1>
                </div>
                <ul>
                    <li>We are the pioneers in the manufacturing
                        of integrated solutions which has
                        contributed in creating new meanings
                        for home and commercial automation.
                    </li>
                    <li>Get In Touch!</li>  
                    <li><a href="tel:+919899552200">+91-9899552200</a></li> 
                    <li><a href="mailto:helpdesk@parametrique.com">helpdesk@parametrique.com</a></li>  
                </ul> 
            </div>    
        </div>    
    </div>
    <div class="footer-bottom">
       <p>Powered By 2022 @Parametrique.</p> 
    </div>       
</div>    
<!--footer close-->