<!--footer start-->
<div class="footer-container">
    <div class="footer-main">
        <div class="box-group">
            <div class="box">
                <div>
                   <h1>Useful link</h1>
                </div>
                <div>
                  <ul>
                       <li><a href="#">Home</a></li>  
                       <li><a href="#">About us</a></li> 
                       <li><a href="#">Products</a></li> 
                       <li><a href="#">Contact us</a></li> 
                       <li><a href="#">Career</a></li>  
                   </ul> 
                </div>   
            </div>
    
            <div class="box">
                <div>
                    <h1>Solutions</h1>
                 </div>
                 <div>
                   <ul>
                        <li><a href="#">Energy Management</a></li>  
                        <li><a href="#">Broadband</a></li> 
                        <li><a href="#">Landline</a></li> 
                        <li><a href="#">Home Automation</a></li>  
                    </ul> 
                 </div>  
            </div> 
    
            <div class="box">
                <div>
                    <h1>FTTH</h1>
                 </div>
                 <div>
                   <ul>
                        <li><a href="#">Why FTTH?</a></li>  
                        <li><a href="#">GPON Technology</a></li> 
                        <li><a href="#">FTTX & FTTX Classification</a></li> 
                        <li><a href="#">Network Construction</a></li>  
                    </ul> 
                 </div> 
            </div>
    
            <div class="box">
                <div>
                    <h1>Our Products</h1>
                 </div>
                 <div>
                   <ul>
                        <li><a href="#">CCTV</a></li>  
                        <li><a href="#">Access Control</a></li> 
                        <li><a href="#">Boom Barrier</a></li>  
                    </ul> 
                 </div> 
            </div> 
    
            <div class="box">
                <div>
                    <h1>Support</h1>
                </div>
                <div class="support">
                   <ul>
                        <li>We are the pioneers in the manufacturing
                          of integrated solutions which has
                          contributed in creating new meanings
                          for home and commercial automation.
                        </li>
                        <li>Get In Touch!</li>  
                        <li><a href="#">+91-9899552200</a></li> 
                        <li><a href="#">helpdesk@parametrique.com</a></li>  
                    </ul> 
                 </div>  
            </div>    
        </div>    
    </div>
    <div class="footer-bottom">
       <p>Powered By 2022 @Parametrique.</p> 
    </div>       
</div>    
<!--footer close-->