.footer-container{
    background: linear-gradient(to right, black, #030336);
    width:100%;
    height:60vh;
    overflow: hidden;  
}
.footer-main{
    width:100%;
    height:85%;
    margin-left: 5%;
    padding: 2%;
}
.footer-main .box{
    width:12%;
    margin-left: 2%;
}
.footer-main .box-group .box div{
    margin-top: 15%;
}
.support{
    width:50vh;
}
.footer-main div h1{
    color: white;
    font-size: 25px;
}
.footer-main div ul li{
    color: white;
    list-style-type: none;
    margin-top: 5%;
    font-size: 17px;
}
.footer-bottom{
    border-top:1px solid #07073f;
    width:100%;
    padding:1%;
    text-align: center;
}
.footer-bottom p{
    color: white;
}
