.footer-container{
    background: linear-gradient(to right, black, #030336);
    width:100%;
    height:60vh;
    overflow: hidden;  
}
.footer-main{
    width:100%;
    height:85%;
    margin-left: 5%;
    padding: 4%;
}
.footer-main .box{
    width:14%;
    margin-left: 1%;
    overflow: hidden;
}
.footer-main .support-box{
    width:25%;
    margin-left: 2%;
}
.footer-main .heading{
    color: white;
    font-size: 12px;
}
.footer-main ul{
    margin-top: 12%;
}
.footer-main li{
    color: white;
    list-style-type: none;
    margin-top: 8%;
    font-size: 15px;
}
.footer-bottom{
    border-top:1px solid #07073f;
    width:100%;
    padding:1%;
    text-align: center;
    font-size: 15px;
}
.footer-bottom p{
    color: white;
}
