.content{
    width:100%;
    height:auto;
    padding:4%;
    overflow: hidden;
}
 .content .heading{
    color: #4d598c;
    margin-left:5%;
}
 .content .message{
    color: black;
    width: 90%;
    margin-left:5%;
    margin-top: 5%;
    font-size: 17px;
}
.content-grey{
    background: #a5a1a1;
}
.box{
    width:42%;
    height:50vh;
    margin-top: 2%;
    margin-left: 5%;
}
.content-grey .box{
    height:40vh;
}
.box h1{
    color: #4d598c;
    margin-top:1%;
    font-size: 30px;
}
.box h2{
    color: #4d598c;
    margin-top:15%;
}
.box p{
    color:black;
    margin-top: 5%;
    font-size: 17px;
}
.box .icon{
    width:20%;
    height:15%;
}
