.content{
    width:100%;
    height:auto;
    padding:4%;
    overflow: hidden;
}
.heading{
    color: #4d598c;
    margin-left:5%;
}
.message{
    color: black;
    width: 90%;
    margin-left:5%;
    margin-top: 5%;
    font-size: 16px;
    text-align: justify;
}
.content-grey{
    background: #a5a1a1;
}
.box{
    width:42%;
    height:auto;
    margin-top: 2%;
    margin-left: 5%;
    text-align: justify;
}
.content-grey .box{
    height:auto;
    padding: 1%;
}
.box h1{
    color: #4d598c;
    margin-top:1%;
    font-size: 30px;
}
.box h2{
    color: #4d598c;
    margin-top:15%;
}
.box p{
    color:black;
    margin-top: 5%;
    font-size: 16px;
}
.box .icon{
    width:15%;
    height:20%;
}

/*responsive design*/
@media (max-width: 600px) {
    
    .box{
        width: 80%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 10%;
        margin-left: 10%;
    }
    .box .icon{
        width:30%;
        height:30%;
    }
}