<!--header start-->
<div class="header-container">
    <div class="header-top">
        <ul>
            <li><i style="font-size:15px;color:white;margin-right:5px;" class="fa fa-envelope"></i><a href="mailto:helpdesk@parametrique.com">helpdesk@parametrique.com</a></li>
            <li><i style="font-size:15px;color:white;margin-right:5px;" class="fa fa-phone"></i><a href="tel:+919899552200">+91-9899552200</a></li>
            <li><a href="/contact-us">Help & Support</a></li>
        </ul>   
    </div>
    <div class="header-main">
        <div class="logo">
            <a href="/">
               <img src="assets/media/image/layout/header/para-logo.png" alt="logo">
            </a>    
        </div> 
        <div class="navbar">
            <ul>
               <li><a href="/">HOME</a></li>
               <li><a href="/about-us">ABOUT US</a></li> 
               <li><a href="/ftth">FTTH</a></li> 
               <li><a href="#">SOLUTIONS</a></li> 
               <li><a href="/services">SERVICES</a></li> 
               <li><a href="/gallery">GALLERY</a></li> 
               <li><a href="/contact-us">CONTACT US</a></li>  
            </ul>    
        </div> 
        <div class="menu-btn">
            <a (click)="menucont.style.display='block'"><i class="menu-font"></i></a>
        </div>         
    </div> 
    <div #menucont class="menu-container">
        <div class="close-btn">
            <a (click)="menucont.style.display='none'"><i class="close-icon"></i></a>
        </div>  
        <app-menu></app-menu>
    </div>
</div>
<!--header close-->