<app-header></app-header>
<!--gallery main start-->
<div class="main-container">

    <!--banner start-->
    <div class="banner-container">
        <div class="banner-image">
            <img src="assets/media/image/gallery/gallery-banner.jpg" alt="banner">
        </div>  
        <div class="banner-text">
            <h1>LIFE@PARAMETRIQUE</h1>
        </div>      
    </div> 
    <!--banner close-->

    <!--content start-->
    <div class="content-container">
        <div class="content">
            <div class="heading">
                <h1>REWARDS & RECOGNITION</h1>
            </div> 
            <div class="box-group"> 
                <div class="box">
                    <img src="assets/media/image/gallery/life1.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/gallery/life2.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/gallery/life3.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/gallery/life4.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/gallery/life5.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/gallery/life6.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/gallery/life7.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/gallery/life8.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/gallery/life9.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/gallery/life10.jpg" alt="image">
                </div>    
            </div>      
        </div> 
        <!--content1 close-->   
        <div class="content">
            <div class="heading">
                <h1>EMPLOYEE EXPERIENCE</h1>
            </div> 
            <div class="box-group"> 
                <div class="box height-large">
                    <img src="assets/media/image/gallery/fn1.jpg" alt="image">
                </div> 
                <div class="box height-large">
                    <img src="assets/media/image/gallery/fn2.png" alt="image">
                </div> 
                <div class="box height-large">
                    <img src="assets/media/image/gallery/fn3.jpg" alt="image">
                </div> 
                <div class="box height-large">
                    <img src="assets/media/image/gallery/fn4.png" alt="image">
                </div> 
                <div class="box height-large">
                    <img src="assets/media/image/gallery/fn5.jpg" alt="image">
                </div> 
                <div class="box height-large">
                    <img src="assets/media/image/gallery/fn6.png" alt="image">
                </div> 
                <div class="box height-large">
                    <img src="assets/media/image/gallery/fn7.png" alt="image">
                </div> 
                <div class="box height-large">
                    <img src="assets/media/image/gallery/fn8.png" alt="image">
                </div>    
            </div>      
        </div> 
        <!--content2 close-->
    </div> 
    <!--content close-->      
</div>    
<!--gallery main close-->
<app-footer></app-footer>