<app-header></app-header>
<!--gallery main start-->
<div class="main-container">

    <!--banner start-->
    <div class="banner-container">
        <div class="banner">
            <img src="assets/media/image/gallery/gallery-banner.jpg" alt="banner">
        </div>  
        <div class="banner-text heading-large">
            <h1>LIFE@PARAMETRIQUE</h1>
        </div>      
    </div> 
    <!--banner close-->

    <!--content start-->
    <div class="content-container">
        <div class="content">
            <div class="heading">
                <h1>REWARDS & RECOGNITION</h1>
            </div> 
            <div class="box-group"> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div>    
            </div>      
        </div> 
        <!--content1 close-->   
        <div class="content">
            <div class="heading">
                <h1>EMPLOYEE EXPERIENCE</h1>
            </div> 
            <div class="box-group"> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div> 
                <div class="box">
                    <img src="#" alt="image">
                </div>    
            </div>      
        </div> 
        <!--content2 close-->
    </div> 
    <!--content close-->      
</div>    
<!--gallery main close-->
<app-footer></app-footer>