.content{
    width:100%;
    height:auto;
    overflow:hidden;
}
.box-group{
    padding:5%;
}
.box-group-grey{
    background: #eeeeee;
    width:90%;
    margin-left:5%;
}
.box{
    width:45%;
    height:50vh;
    margin-top: 5%;
    margin-left: 3%;
    overflow: hidden;
}
.box-group-grey .box{
    width:40%;
    height:25vh;
    margin-left: 7%;
}
.box .heading{
    color: #4d598c;
    margin-left: 1%;
    margin-bottom: 5%;
    font-size: 16px;
}
.box p{
    margin-top: 7%;
    font-size: 17px;
}
.box li{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 17px;
}
