.content{
    width:100%;
    height:auto;
    overflow:hidden;
}
.box-group{
    padding:4%;
}
.box{
    width:45%;
    height:50vh;
    margin-top: 4%;
    margin-left: 4%;
    overflow: hidden;
}
.box-group-grey{
    background: #eeeeee;
    width:90%;
    margin-left:5%;
}
.box-group-grey .box{
    width:40%;
    height:30vh;
    margin-left: 7%;
}
.box h1{
    color: #4d598c;
    margin-left: 1%;
    margin-bottom: 5%;
    font-size: 28px;
}
.box p{
    color:black;
    margin-top: 7%;
    font-size: 17px;
}
.box li{
    color:black;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 17px;
}
