.flex-wrap{
    flex-direction: column;
    overflow: hidden;
 }
 .flex-nowrap{
     flex-wrap: nowrap;
     overflow: hidden;
}
.content{
    width:100%;
    height:auto;
    overflow: hidden;
}
.content .heading{
    color: #4d598c;
    font-size: 15px;
}
.content .message{
    margin-top: 5%;
    font-size: 17px;
}
.about-us-content{
    padding: 5%;
}
.about-us-content .box{
    width: 40%;
    margin-left: 5%;
}
.about-us-content .btn button{
    border: 1px solid blue;
    border-radius: 10%;
    background: none;
    width:30%;
    height:6vh;
    margin-top: 7%;
    cursor: pointer;
}
.about-us-content .small-box-group{
    margin-left: 15%;
    margin-top: 5%;
}
.about-us-content .small-box-group .box{
    width: 50%;
    margin-left: 0px;
    margin-top: 0px;
}
.about-us-content .icon{
    width: 15%;
    height: 25%;
    margin-top: 5%;
    margin-left: 10%;
}
.about-us-content .small-box-group h1{
    color: #4d598b;
    font-size: 35px;
}
.about-us-content .description{
    margin-top: 5%;
    margin-left: 10%;
}
.about-us-content .border-lt{
    border-left: 1px solid #dadada;
    border-top: 1px solid #dadada;
}
.about-us-content .border-rb{
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.experties-content{
    background: #c9c9c9;
    padding: 4%;
}
.experties-content .heading{
    margin-left: 7%;
}
.experties-content .box-group{
    margin-left: 5%;
}
.experties-content .box{
    width:20%;
    height: 40vh;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
}
.experties-content .box p{
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
}
.experties-content .box a{
    color: #4d598c;
}
.experties-content .image{
    border: 5px solid white;
    border-radius: 50%;
    width:45%;
    height:40%;
    margin-left: 27%;
    overflow: hidden;
}
.experties-content .description{
    color: #4d598c;
    margin-top:8%;
    font-size: 15px;
}
.solution-content{
    padding:7%;
}
.image-content{
    padding: 1%;
}
.image-content .image{
    width: 100%;
    height:70vh;
    overflow: hidden;
}
.client-content{
    padding: 5%;
}
.client-content .box-group{
    width: 100%;
    height: 30vh;
    overflow:hidden;
}
.client-content .box{
    border: 1px solid black;
    width:15%;
    margin-left: 1%;
    margin-top: 4%;
    overflow: hidden;
    animation: wrapper 10s linear infinite; 
}
@keyframes wrapper {
    from{ transform: translateX(90vw);}
    to{ transform: translateX(-150vw);}
}
.client-content .box-group:hover .box{
    animation-play-state: paused;
}
.contact-content{
    background: #4d598b;
    padding: 5%;
}
.contact-content .box{
    color: white;
    width: 30%;
    margin-left: 5%;
    font-size: 15px;
    overflow: hidden;
}

/*responsive design*/
@media (max-width: 600px) {
    
    .about-us-content .box{
        width: 90%;
    }
    .about-us-content .small-box-group{
        margin-left: 5%;
        margin-top: 10%;
    }
    .experties-content .box-group{
        margin-top: 10%;
    }
    .experties-content .box{
        width:80%;
        margin-left: 5%;
    }
    .image-content .image{
        height:40vh;
    }
    .client-content .box{
        width:50%;
        margin-top: 10%;
    }
    .contact-content .box-group{
        flex-direction: column;
    }
    .contact-content .box{
        width: 90%;
        margin-top: 10%;
        text-align: center;
    }
}
