<!--home main start-->
<div class="main-Container">
    
    <!--banner start-->
    <div class="banner-container banner-container-video">
        <div class="banner-video">
           <video autoplay="true" muted="true" loop="true" src="assets/media/video/shutterstock.mp4"></video> 
        </div> 
        <div class="banner-text"> 
           <h1>Parametrique Offers Innovative & Integrated Fiber To The Home Solutions</h1>
           <p>Designing , Deployment, Integration & Management</p>
        </div>     
    </div> 
    <!--banner close-->

    <!--content start-->
    <div class="content-container"> 
        <div class="content1"> 
            <div class="box-container">
                <div class="heading">
                    <h1>ABOUT US</h1>
                </div>
                <div class="text"> 
                    <p>We are the leaders in the design,
                     deployment, integration and management
                     of advanced communication networks in
                     India, with a comprehensive, integrated
                     platform solution for high performance
                     fiber networks. We work hand-in-hand with
                     India’s most innovative and successful builders,
                     building future-ready homes with seamless
                     digital services, including IP and IoT services,
                     security management, energy management and home
                     automation solutions customized to their requirements.
                    </p>
                </div>
                <div class="button">  
                    <button>READ MORE</button>
                </div>         
            </div> 
            <div class="box-container">
                <table>
                    <tr>
                     <td>  
                        <div class="count-icon">
                            <img src="#" alt="icon">
                        </div>
                        <div class="count-number"> 
                            <h1>5+</h1> 
                        </div> 
                        <div class="count-text">
                           <p>Years in Business</p> 
                        </div>    
                     </td> 
                     <td>  
                        <div class="count-icon">
                            <img src="#" alt="icon">
                        </div>
                        <div class="count-number"> 
                            <h1>300+</h1> 
                        </div> 
                        <div class="count-text">
                           <p>Employees</p> 
                        </div>    
                     </td>   
                    </tr>
                    <tr> 
                        <td>  
                            <div class="count-icon">
                                <img src="#" alt="icon">
                            </div>
                            <div class="count-number"> 
                                <h1>60,000+</h1> 
                            </div> 
                            <div class="count-text">
                               <p>Satisfied Clients</p> 
                            </div>    
                         </td>
                         <td>  
                            <div class="count-icon">
                                <img src="#" alt="icon">
                            </div>
                            <div class="count-number"> 
                                <h1>100+</h1> 
                            </div> 
                            <div class="count-text">
                               <p>Projects Completed</p> 
                            </div>    
                         </td>   
                    </tr>     
                </table>   
            </div>       
        </div> 
        <!--content1 close-->

        <div class="content2"> 
            <div class="heading">
               <h1>EXPERTIES</h1> 
            </div> 
            <div class="column-box">
                <div class="box">
                    <div>
                       <img src="#" alt="image"> 
                     <div>
                     <div> 
                        <h1>SECURITY</h1>
                        <p>With our integrated and managed security...</p>
                        <a href="#">Read more  >></a> 
                     </div>
                </div>
                <div class="box">
                    <div>
                        <img src="#" alt="image"> 
                      <div>
                      <div> 
                         <h1>COMFORT</h1>
                         <p>Experience unmatched comfort with a better….</p>
                         <a href="#">Read more  >></a> 
                      </div>
                </div> 
                <div class="box">
                    <div>
                        <img src="#" alt="image"> 
                      <div>
                      <div> 
                         <h1>FUTURE PROOF</h1>
                         <p>We offer multiple options and platforms for innovation….</p>
                         <a href="#">Read more  >></a> 
                      </div>
                </div> 
                <div class="box">
                    <div>
                        <img src="#" alt="image"> 
                      <div>
                      <div> 
                         <h1>ENERGY EFFICIENCY</h1>
                         <p>Smart energy management is an integral….</p>
                         <a href="#">Read more  >></a> 
                      </div>
                </div>     
            </div>       
        </div> 
        <!--content2 close--> 

        <div class="content3"> 
            <div class="heading">
                <h1>SOLUTIONS OFFERED</h1>
            </div> 
            <div class="message"> 
                <p>Our integrated and innovative network solutions allow
                   the transmission of the network through the medium of
                   our optic fiber. Communities can choose any network provider
                   according to their need and we will amplify the user experience
                   with the convenience of our optical cables that will carry the
                   network to the user location. There are no charges that are levied
                   on the customer apart from the specific plan or network connection that
                   they choose.
                </p>
            </div>     
        </div>
        <!--content3 close--> 

        <div class="content4"> 
            <div class="image">
                <img src="#" alt="image">
            </div>    
        </div>
         <!--content4 close--> 

        <div class="content5">
            <div class="heading">
                <h1>OUR CLIENTS</h1>
            </div> 
            <div class="image-group-column">
                <div class="image-group">
                    <img src="#" alt="image">
                </div>  
                <div class="image-group">
                    <img src="#" alt="image">
                </div> 
                <div class="image-group">
                    <img src="#" alt="image">
                </div>
                <div class="image-group">
                    <img src="#" alt="image">
                </div> 
                <div class="image-group">
                    <img src="#" alt="image">
                </div> 
                <div class="image-group">
                    <img src="#" alt="image">
                </div> 
                <div class="image-group">
                    <img src="#" alt="image">
                </div> 
                <div class="image-group">
                    <img src="#" alt="image">
                </div> 
                <div class="image-group">
                    <img src="#" alt="image">
                </div> 
                <div class="image-group">
                    <img src="#" alt="image">
                </div>     
            </div>      
        </div>  
        <!--content5  close--> 

        <div class="content6">
            <div class="message">
                <p>Are you looking for a</p>
                <h1>Smart Home Solution ?</h1>
            </div>
            <div class="email">
                <a href="">Email Us Now</a>
                <p>sales@parametrique.com</p>
            </div>
            <div class="phone">
                <a href="">Call Us Now</a>
                <p>+91-9899552200</p>
            </div>          
        </div>  
        <!--content6  close--> 
            
    </div> 
    <!--content close-->   
</div>    
<!--home main close-->