<app-header></app-header>
<!--home main start-->
<div class="main-Container">
    
    <!--banner start-->
    <div class="banner-container banner-container-video">
        <div class="banner-video">
           <video autoplay="true" muted="true" loop="true" src="assets/media/video/shutterstock.mp4"></video> 
        </div> 
        <div class="banner-text"> 
           <h1>Parametrique Offers Innovative & Integrated Fiber To The Home Solutions</h1>
           <p>Designing , Deployment, Integration & Management</p>
        </div>     
    </div> 
    <!--banner close-->

    <!--content start-->
    <div class="content-container"> 
        <div class="content about-us-content"> 
            <div class="box-group">
                <div class="box">
                    <div class="heading">
                         <h1>ABOUT US</h1>
                    </div>
                    <div class="message"> 
                        <p>We are the leaders in the design,
                            deployment, integration and management
                            of advanced communication networks in
                            India, with a comprehensive, integrated
                            platform solution for high performance
                            fiber networks. We work hand-in-hand with
                            India’s most innovative and successful builders,
                            building future-ready homes with seamless
                            digital services, including IP and IoT services,
                            security management, energy management and home
                            automation solutions customized to their requirements.
                        </p>
                    </div>
                    <div class="btn">  
                        <button onclick="location.href='/about-us'">READ MORE</button>
                    </div>        
                </div>  
                <div class="box">
                    <div class="box-group small-box-group">
                        <div class="box border-rb">
                            <div class="icon">
                                <img src="assets/media/image/home/icon-1.png" alt="icon">
                            </div>
                            <div class="description">
                                <h1>5+</h1> 
                                <p>Years in Business</p> 
                            </div>    
                        </div>  
                        <div class="box">
                            <div class="icon">
                                <img src="assets/media/image/home/icon-2.png" alt="icon">
                            </div>
                            <div class="description">
                                <h1>300+</h1> 
                                <p>Employees</p> 
                            </div> 
                        </div>   
                        <div class="box">
                            <div class="icon">
                                <img src="assets/media/image/home/icon-3.png" alt="icon">
                            </div>
                            <div class="description">
                                <h1>60,000+</h1> 
                                <p>Satisfied Clients</p> 
                            </div> 
                        </div>   
                        <div class="box border-lt">
                            <div class="icon">
                                <img src="assets/media/image/home/icon-4.png" alt="icon">
                            </div>
                            <div class="description">
                                <h1>100+</h1> 
                                <p>Projects Completed</p> 
                            </div> 
                        </div>     
                    </div>   
                </div>  
            </div>       
        </div> 
        <!--content1 close-->

        <div class="content experties-content"> 
            <div class="heading">
                <h1>EXPERTISE</h1> 
            </div> 
            <div class="box-group">
                <div class="box">
                    <div class="image">
                       <img src="assets/media/image/home/Security-Icon.jpg" alt="image"> 
                    </div>
                    <div class="description"> 
                        <h3>SECURITY</h3>
                        <p>With our integrated and managed security...</p>
                        <a href="/about-us">Read more  >></a> 
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="assets/media/image/home/Comfort-Icon.jpg" alt="image"> 
                    </div>
                    <div class="description"> 
                        <h3>COMFORT</h3>
                        <p>Experience unmatched comfort with a better….</p>
                        <a href="/about-us">Read more  >></a> 
                    </div>
                </div> 
                <div class="box">
                    <div class="image">
                        <img src="assets/media/image/home/Future-Proof-Icon.jpg" alt="image"> 
                    </div>
                    <div class="description"> 
                        <h3>FUTURE PROOF</h3>
                        <p>We offer multiple options and platforms for innovation….</p>
                        <a href="/about-us">Read more  >></a> 
                      </div>
                </div> 
                <div class="box">
                    <div class="image">
                        <img src="assets/media/image/home/Energy-Efficiency-Icon.jpg" alt="image"> 
                    </div>
                    <div class="description"> 
                        <h3>ENERGY EFFICIENCY</h3>
                        <p>Smart energy management is an integral….</p>
                        <a href="/about-us">Read more  >></a> 
                    </div>
                </div>     
            </div>       
        </div> 
        <!--content2 close--> 

        <div class="content solution-content"> 
            <div class="heading">
                <h1>SOLUTIONS OFFERED</h1>
            </div> 
            <div class="message"> 
                <p>Our integrated and innovative network solutions allow
                   the transmission of the network through the medium of
                   our optic fiber. Communities can choose any network provider
                   according to their need and we will amplify the user experience
                   with the convenience of our optical cables that will carry the
                   network to the user location. There are no charges that are levied
                   on the customer apart from the specific plan or network connection that
                   they choose.
                </p>
            </div>     
        </div>
        <!--content3 close--> 

        <div class="content image-content"> 
            <div class="image">
                <img src="assets/media/image/home/Para_-gif-1.gif" alt="image">
            </div>    
        </div>
         <!--content4 close--> 

        <div class="content client-content">
            <div class="heading">
                <h1>OUR CLIENTS</h1>
            </div> 
            <div class="box-group flex-wrap">
                <div class="box">
                    <img src="assets/media/image/home/9-1.jpg" alt="image">
                </div>  
                <div class="box">
                    <img src="assets/media/image/home/8-1.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/home/7-2.jpg" alt="image">
                </div>
                <div class="box">
                    <img src="assets/media/image/home/6-1.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/home/5-2.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/home/4-1.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/home/3-1.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/home/2.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/home/newlog.jpg" alt="image">
                </div> 
                <div class="box">
                    <img src="assets/media/image/home/10-2.jpg" alt="image">
                </div>     
            </div>      
        </div>  
        <!--content5  close--> 

        <div class="content contact-content">
            <div class="box-group flex-nowrap">
                <div class="box">
                    <p>Are you looking for a</p>
                    <h1>Smart Home Solution ?</h1>
                </div>
                <div class="box">
                    <a href="mailto:helpdesk@parametrique.com">Email Us Now</a>
                    <br><br>
                    <p>sales@parametrique.com</p>
                    </div>
                <div class="box">
                    <a href="tel:+919899552200">Call Us Now</a>
                    <br><br>
                    <p>+91-9899552200</p>
                </div> 
            </div>            
        </div>  
        <!--content6  close--> 
            
    </div> 
    <!--content close-->   
</div>    
<!--home main close-->
<app-footer></app-footer>